@import "tailwindcss";

@theme {
  --color-primary: #C6A679;
  --color-accent: #C9A97E;
  --color-background-light: #f8f8f6;
  --color-background-dark: #0A192F;
  --color-text-light: #2D2D2D;
  --color-text-dark: #FDFDFC;
  --color-neutral: #EAEAEA;
  --color-off-white: #F5F5F5;
  --color-light-grey: #A8B2D1;

  --font-display: var(--font-inter);
  --font-playfair: var(--font-playfair);

  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
